$smobile : 'screen and (max-width:480px)';
$mobile : 'screen and (max-width:767px)';
$tablet : 'screen and (min-width:768px) and (max-width:991px)';
$desktop : 'screen and (min-width:992px)';

html { 
    font-size:62.5%;   
    @media #{$tablet}{
        font-size:55%;
    }
    @media #{$mobile}{
        font-size:50%;
    }
}
body { background: $white; font-size:1.6rem;  color:$black; @include font1; }

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin:0;
}

:focus{outline:0}

.dib{display: inline-block;}
.dn{display: none;}

.mt{margin-top:15px;}
.mtd{margin-top:30px;}

.animAll, a{
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}