<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}




  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {% comment %}{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }} {% endcomment %}

  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'jquery.bxslider.js' | asset_url | script_tag }}
  {{ 'jquery-ui.js' | asset_url | script_tag }}
  {{ 'jquery.meanmenu.js' | asset_url | script_tag }}






  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
<script>
  document.createElement('footer');
  document.createElement('section');
  document.createElement('header');
  document.createElement('figure');
  document.createElement('figcaption');
</script>
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

<!-- ================= Header =============== -->

{% include 'header' %}

<!-- ================= /Header =============== -->



 
  
    

    

      {{ content_for_layout }}

  



<!-- =========== Footer ============== -->

{% include 'footer' %}

<!-- =========== /Footer ============== -->

<!-- =========== Popup ============== -->


{% if settings.chkEnablePopupNewsletter %}
 
{% if settings.newsletter_form_action != blank %}
    {% assign form_action = settings.newsletter_form_action %}
{% else %}
    {% assign form_action = '#' %}
{% endif %}


<div class="newsletter_popup">

  <div class="popup_content">
    
      <a href="#" class="close_popup"></a>
    
      <div class="top_img">
{% capture popupBg %}popup-img.jpg{% endcapture %}
          <img src="{{ popupBg | asset_url }}" />
            <h2>{{ settings.txtMainHeading }}</h2>
        </div>
        
        <div class="popup_desc">
         {{ settings.txtDescription }}
            
            <div class="news_form">
              <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" >
                  <div class="left_section">
                      <input type="text" value="{% if customer %}{{ customer.name }}{% endif %}" placeholder="name" name="name" id="name"  aria-label="name" autocorrect="off" autocapitalize="off" />
                      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" />
                    </div>
                    <div class="right_section">
                      <input type="submit" name="subscribe" id="subscribe" value="{{settings.txtButtonText}}" />
                      
                    </div>
                </form>
            </div>
        </div>
    
    </div>

</div>

{% endif %}

<!-- =========== /Popup ============== -->



  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '.cartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}


{{ 'custom.js' | asset_url | script_tag }}
</body>
</html>
