<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' or template == 'cart' %}
{% comment %}<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">{% endcomment %}
<ul>  
  <li><a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">> {{ 'general.breadcrumbs.home' | t }}</a></li>

  {% if template contains 'product' %}

    {% if collection %}
      {% comment %}<span aria-hidden="true">&rsaquo;</span>{% endcomment %}
      {% if collection.handle %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <li><a href="{{url}}">> {{ collection.title}}</a></li>
      {% endif %}
    {% endif %}
    {% comment %}<span aria-hidden="true">&rsaquo;</span>{% endcomment %}
    <li><a href="#">> <span> {{ product.title }}</span></a></li>

  {% elsif template contains 'collection' and collection.handle %}

     {% comment %}<span aria-hidden="true">&rsaquo;</span>{% endcomment %}
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      <li>>{{ collection.title | link_to: url }}</li>
      {% comment %}<span aria-hidden="true">&rsaquo;</span>{% endcomment %}
      <li><a ><span>> {{ current_tags | join: " + " }}</span></a></li>
    {% else %}
      <li><a href="#">> <span>{{ collection.title }}</span></a></li>
    {% endif %}

  {% elsif template == 'blog' %}

    <span aria-hidden="true">&rsaquo;</span>
    {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true">&rsaquo;</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
    <span>{{ blog.title }}</span>
    {% endif %}

  {% elsif template == 'article' %}

    <span aria-hidden="true">&rsaquo;</span>
    {{ blog.title | link_to: blog.url }}
    <span aria-hidden="true">&rsaquo;</span>
    <span>{{ article.title }}</span>

  {% elsif template contains 'page' %}

   <span aria-hidden="true">&rsaquo;</span>
   <span>{{ page.title }}</span>

  {% else %}

   <span aria-hidden="true">&rsaquo;</span>
   <span>{{ page_title }}</span>

  {% endif %}
  </ul>
{% comment %}</nav>{% endcomment %}
{% endunless %}
