<!-- /snippets/collection-sidebar.liquid -->


<ul class="footer-nav" id="AccessibleNav">
{% for link in linklists.shop-by-product.links %}     
  {% assign child_list_handle = link.title | handleize %}      
  {% if linklists[child_list_handle].links != blank %}
    <li class="site-nav--has-children{% if link.active %} site-nav--active{% endif %}">
      <a href="{{ link.url }}" class="site-nav__link"><div class="pink-circle"></div><span class="hover-child">{{ link.title }}</span></a>
        <ul>
          {% for childlink in linklists[child_list_handle].links %}
            <li{% if childlink.active %} class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link"><div class="pink-circle"></div><span class="hover-child">{{ childlink.title | escape }}</span></a>
            </li>
          {% endfor %}
        </ul>
      </a>
    </li>
  {% else %}
    <li>
      <a href="{{ link.url }}" class="site-nav__link no-children {% if link.active %} site-nav--active{% endif %}"><div class="pink-circle"></div><span class="hover-child">{{ link.title }}</span></a>
    </li>
  {% endif %}
{% endfor %}
</ul>


