<footer class="home_footer">

  <div class="top_footer">

  <div class="outer-container">
  
      <div class="grid">
            <div class="column grid__item two-tenths small--one-half medium--three-twelfths">
                {% if settings.chkEnableNavigation1 %}
                    <h4>{{ linklists[settings.lnkNavigation1].title }}</h4>
                    <ul>
                    {% for link in linklists[settings.lnkNavigation1].links %}
                      <li><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div class="column grid__item two-tenths small--one-half medium--three-twelfths">
                {% if settings.chkEnableNavigation2 %}
                    <h4>{{ linklists[settings.lnkNavigation2].title }}</h4>
                    <ul>
                    {% for link in linklists[settings.lnkNavigation2].links %}
                      <li><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div class="column grid__item two-tenths small--one-half medium--three-twelfths">
                {% if settings.chkEnableNavigation3 %}
                    <h4>{{ linklists[settings.lnkNavigation3].title }}</h4>
                    <ul>
                    {% for link in linklists[settings.lnkNavigation3].links %}
                      <li><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div class="column grid__item two-tenths small--one-half medium--three-twelfths">
                {% if settings.chkEnableNavigation4 %}
                    <h4>{{ linklists[settings.lnkNavigation4].title }}</h4>
                    <ul>
                    {% for link in linklists[settings.lnkNavigation4].links %}
                      <li><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    
    </div>

    </div>
    
    <div class="bottom_footer">
        <div class="outer-container">

      <div class="grid">
          <div class="grid__item one-half small--one-whole">
                <div class="payment_options">
                    <ul>
                        {% for type in shop.enabled_payment_types %}
                            <li><img src="{{ type | payment_type_img_url }}" /></li>  
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <div class="grid__item one-half small--one-whole">
               {% if settings.chkEnableFooterSocial %}
                <div class="footer_social">
                    <ul>
                        {% if settings.social_instagram_link != blank %}<li><a href="#"><span><img src="{{ 'instagram.png' | asset_url }}" /></span></a></li>{% endif %}
                        {% if settings.social_facebook_link != blank %}<li><a href="#"><span><img src="{{ 'facebook.png' | asset_url }}" /></span></a></li>{% endif %}
                        {% if settings.social_pinterest_link != blank %}<li><a href="#"><span><img src="{{ 'pinit.png' | asset_url }}" /></span></a></li>{% endif %}
                    </ul>
                </div>
              {% endif %}
            </div>
        </div>
        </div>
        
    </div>

    {% if settings.footer_newsletter_enable %}

    {% include 'newsletter' %}
    
    {% endif %}
</footer>