<header>

<div class="outer-container">

  <div class="top_header">
    
      <div class="grid">
        
            <div class="grid__item one-half logo_section">
              {% if settings.logo_use_image %}
                <a href="/" itemprop="url" >
                  <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
              {% else %}
                <a href="/" itemprop="url">{{ shop.name }}</a>
              {% endif %}


                
            </div>
            
            <div class="grid__item one-half medium-down--one-whole">
                <div class="top_right_header right">
                
                    <ul>
                      <li>
                         

                            <div class="search_opened">
                              {% include 'search-bar' %}
                              
                              




                            </div>
                        </li>
                        <li><a href="#" class="dollar-icon"></a></li>
                        <li><a href="#" class="y-icon"></a></li>
                        <li><a href="#" class="euro-icon"></a></li>
                        <li><span id="CartCount" class="cartCount">{{cart.item_count}}</span> <a href="/cart" class="bag-icon"></a></li>
                    </ul>
                
                </div>
            </div>
            
        </div>
    
    </div>

  <nav id="main-nav">
    <ul>
    
    {% for link in linklists[settings.lnkMainNavigation].links %}
      {% if linklists[link.handle].links.size > 0 %}
        {% assign sub_menu = true %}
      {% else %}
        {% assign sub_menu = false %}
      {% endif %}

      <li><a href="{{link.url}}">{{link.title}}</a>
        {% if sub_menu %}
          <ul>
            {% for sub_link in linklists[link.handle].links %}
                <li><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

      </li>
    {% endfor %}

     
            
            <div class="side_menu">
              <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>
            </div>
    </ul>
  </nav>

  </div>
    
</header>

<header class="sticky_header">

<div class="outer-container">

  <div class="top_header">
    
      <div class="grid">
        
            <div class="grid__item two-tenths logo_section">
                {% if settings.logo_use_image %}
                  <a href="/" itemprop="url" >
                    <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                  </a>
                {% else %}
                  <a href="/" itemprop="url">{{ shop.name }}</a>
                {% endif %}
            </div>
            
            <div class="grid__item six-tenths">
              <div id="main-nav">
                    <ul>
                         {% for link in linklists[settings.lnkMainNavigation].links %}
                            {% if linklists[link.handle].links.size > 0 %}
                              {% assign sub_menu = true %}
                            {% else %}
                              {% assign sub_menu = false %}
                            {% endif %}

                            <li><a href="{{link.url}}">{{link.title}}</a>
                              {% if sub_menu %}
                                <ul>
                                  {% for sub_link in linklists[link.handle].links %}
                                      <li><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
                                  {% endfor %}
                                </ul>
                              {% endif %}

                            </li>
                          {% endfor %}

                        
                        <div class="side_menu">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Signup</a></li>
                        </div>
                    </ul>
                </div>
        </div>
            
            <div class="grid__item two-tenths">
                <div class="top_right_header right">
                
                    <ul>
                      <li>
                          
                            <div class="search_opened">
                               {% include 'search-bar' %}
                            </div>
                        </li>
                        <li>
                        <span id="CartCount" class="cartCount">{{cart.item_count}}</span> <a href="#" class="bag-icon"></a>
                        </li>

                        
                    </ul>
                
                </div>
            </div>
            
        </div>
    
    </div>

    </div>
    
</header>

