<div class="newsletter_section">
      <p>Keep in touch! Sign up for our newsletter for all the latest + special discounts!</p>
        
        {% if settings.newsletter_form_action != blank %}
          {% assign form_action = settings.newsletter_form_action %}
        {% else %}
          {% assign form_action = '#' %}
        {% endif %}

        <div class="newsletter_form">
          <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" >
            
              <div class="form_row">
                  <input type="text" value="{% if customer %}{{ customer.name }}{% endif %}" placeholder="name" name="name" id="name"  aria-label="name" autocorrect="off" autocapitalize="off" />
                </div>
                
                <div class="form_row">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off" />
                </div>
                
                <div class="submit_row">
                  <input type="submit" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}" />
                </div>
                
            </form>
        </div>
    </div>