<div class="inner-container">

  <div class="content">
    <h1>{{ article.title }}</h1>
    <div class="news_listing">
      <div class="description">
        {{ article.content }}
      </div>   



      <br><br>
      <ul class="inline-list">
        {% include 'tags-article' %}
      </ul>
    </div>
     {% if blog.next_article or blog.previous_article %}
      <hr>
      <p class="clearfix">
        {% if blog.previous_article %}
          <span class="left">
            &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
          </span>
        {% endif %}
        {% if blog.next_article %}
          <span class="right">
            {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
          </span>
        {% endif %}
      </p>
    {% endif %}



  </div>
</div>



