<!-- /templates/blog.liquid -->
<div class="inner-container">

  <div class="content">
    {% paginate blog.articles by 2 %}

      {% if current_tags %}
        <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
      {% else %}
        <h1>{{ blog.title }}</h1>
      {% endif %}
        
        <div class="news_listing">
        
           {% for article in blog.articles %}
              <div class="news_item">
                <h5><a href="{{article.url}}">{{article.title}}</a></h5>
                 {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
                  {% endif %}
                 {% if article.image %}
                <div class="news_imges">
                  <ul>
                    
                      <li> {{ article | img_url: '1024x1024' | img_tag: article.title }}</li>
                    
                     
                    </ul>
                </div>
                 {% endif %} 
            </div>
           {% endfor %}
            
            
            
            
            <div class="pagination">
        
                <ul>
                    {% if paginate.previous.is_link %}
                        <li  class="left"><a href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a></li>
                    {% endif %}
                    {% if paginate.next.is_link %}
                        <li  class="right"><a href="{{ paginate.next.url }}">{{ paginate.next.title }}</a></li>
                    {% endif %}

                    
                </ul>
            
            </div>
            
        </div>
      
    {% endpaginate %}
    </div>

</div>




