<!-- /templates/collection.liquid -->
<div class="inner-container">

  <div class="content">

      <div class="breadcrumb_section">
        <div class="inner-container">     
         {% include 'breadcrumb' %}
        </div>
      </div>

      <div class="product_list_section grid">
        {% paginate collection.products by 24 %}

        <div class="grid--rev">
          <div class="grid__item">
            {% comment %}
              Different markup if a collection description exists
            {% endcomment %}
            {% if collection.description != blank %}
              <header class="section-header">
                <h4>{{ collection.title }}</h4>
                <div class="rte rte--header">
                  {{ collection.description }}
                </div>
              </header>
              <div class="section-header">
                <div class="section-header__right">
                  {% include 'collection-sorting' %}
                </div>
              </div>
            {% else %}
              <header class="section-header">
                <h4>{{ collection.title }}</h4>
                <div class="section-header__right">
                  {% include 'collection-sorting' %}
                </div>
              </header>
            {% endif %}
          </div>
        </div>
            

        {% comment %}
          Use .grid--rev so that the collection tags appear below the products on mobile
        {% endcomment %}
        <div class="grid--rev">
          <div class="grid__item large--three-quarters">

            {% comment %}
              Use class grid-uniform to have evenly sized columns clear
              each other properly at each breakpoint.
            {% endcomment %}
            <div class="grid-uniform">

              {% comment %}
                Loop through our products in the current collection.
                See the snippet 'product-grid-item' for the layout.
              {% endcomment %}
              {% for product in collection.products %}

                {% include 'product-grid-item' %}

              {% else %}

                {% if collection.handle == 'all' %}

                  {% comment %}
                    Add default products to help with onboarding for collections/all only
                  {% endcomment %}
                  {% unless emptyState %}
                    {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
                    {% assign emptyState = true %}
                  {% endunless %}
                  {% include 'onboarding-empty-collection' %}

                {% else %}

                  {% comment %}
                    If collection exists but is empty, display message
                  {% endcomment %}
                  <div class="grid__item">
                    <p style="margin-bottom:15%;">{{ 'collections.general.no_matches' | t }}</p>
                  </div>

                {% endif %}

              {% endfor %}

            </div>

            {% if paginate.pages > 1 %}
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '<i class="fa fa-angle-left"></i>' | replace: 'Next &raquo;', '<i class="fa fa-angle-right"></i>' }}
              </div>
            {% endif %}

          </div>

          <div class="grid__item large--one-quarter small--hide collection-sidebar">
            {% include 'collection-sidebar' %}
          </div>
        </div>

        {% endpaginate %}


      </div>





</div>
</div>

