<!-- <div class="mob_blank_header"></div> -->

{% if settings.chkEnableHomeBanner %}
{% capture banner %}banner.jpg{% endcapture %}
<div class="main_banner" style="background-image:url({{ banner | asset_url}});">
  <div class="caption">
      <h1>{{ settings.txtMainBannerText }}</h1>
        <p>{{ settings.txtMainBannerDesc }}</p>
    </div>
</div>
{% endif %}

 
{% if settings.chkEnableFeaturedProducts %}
<div class="home_collection">
  <div class="home_collection_listing">
      <div class="grid">
      {% for product in collections.featured.products limit:3 %}
        <div class="grid__item four-twelfths small--one-whole">
                <a href="{{ product.url }}" class="home_collection_item">
                    <img src="{{ product.featured_image | img_url: 'large' }}" />
                    
                    <div class="overlay">
                        <div class="overlay_content">
                            <h2>{{ product.title }}</h2>
                        </div>
                    </div>
                </a>
        </div>
       {% endfor %}
      </div>
  </div>
</div>
{% endif %}

{% if settings.chkEnableShippingStrip %}
 <div class="shipping_strip">
  <p>{{ settings.txtShippingStrip }}</p>
</div>
{% endif %}

{% if settings.chkEnableOurStory %}
{% capture ourstorybanner %}our-story-banner.jpg{% endcapture %}
<div class="our_story_banner" style="background-image:url({{ ourstorybanner | asset_url }});">
  <span class="overlay"></span>
  <div class="caption">
    <h1>{{ settings.txt_OurStorytext }}</h1>
    </div>
</div>
{% endif %}



{% if settings.chkEnableSaleandPicksSection %}
<div class="home_sale_section">

  <div class="gid">
  
  {% for i in (1..2) %}
    {% capture mainText %}txtBlock{{ i }}Text{% endcapture %}
    {% capture blockImg %}homeBlock{{ i }}.jpg{% endcapture %}
    {% capture mainLink %}txtBlock{{ i }}Link{% endcapture %}
    <div class="grid__item one-half small--one-whole">
        <a href="{{ settings[mainLink] }}" class="sale_item">
            <img src="{{ blockImg | asset_url }}" />
            
            <div class="sale_desc">
                <h1>{{ settings[mainText] }}</h1>
            </div>
        </a>
    </div>

  {% endfor %}
  
    
    </div>
  

</div>
{% endif %}


{% if settings.chkEnableFuturedPhotographer %}
{% capture futuredphotographer %}futured-photographer.jpg{% endcapture %}
<div class="futured_photograph" style="background-image:url({{ futuredphotographer | asset_url }});">
  <span class="overlay"></span>
  <div class="caption">
    <h1>{{ settings.txtFeaturedPhotographerText }}</h1>
    </div>
</div>

{% endif %}



<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global


<h2>{{ 'homepage.sections.frontpage_title' | t }}</h2>

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for product in collections.frontpage.products limit:4 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
    {% include 'product-grid-item' %}

  {% else %}
    {% comment %}
      For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
    {% endcomment %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-products' %}

  {% endfor %}

</div>

<hr>

<h2>{{ 'homepage.sections.featured_title' | t }}</h2>

<div class="grid-uniform">

  {% comment %}
    Show five collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top six returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for collection in collections limit:6 %}
    {% unless index > 5 %}

      {% unless collection.handle == 'frontpage' %}
        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-fifth medium--one-third' %}
        <div class="grid__item {{ collection_item_width }} text-center">
          {% comment %}
            Use capture to put the collection title in a variable that is used in liquid filters
          {% endcomment %}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
            {% if collection.image %}
              {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
            {% else %}
              {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
            {% endif %}
          </a>

          <p>
            <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a><br>
            {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}
          </p>
        </div>
        {% assign index = index | plus: 1 %}
      {% endunless %}

    {% endunless %}
  {% endfor %}

  {% comment %}
    For onboarding new users to your theme, we add some default collections and onboarding tutorials to help populate their store
  {% endcomment %}

  {% if isEmpty %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-collections' %}
  {% endif %}

</div>

<hr>

{% comment %}
  Loop through three recent blog articles with the following code.

  Since we're not on the blog template, we need to define the blog
  handle we want to focus on. For this example we'll use the default 'news',
  but you can create a blog page-specific content if you want.
{% endcomment %}
<h2>{{ 'homepage.sections.news_title' | t }}</h2>

<div class="grid">
  {% for article in blogs['news'].articles limit:3 %}

    <div class="grid__item large--one-third">

      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

      {% comment %}
        Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
        Since this is just a listing page, you can either use the excerpt or truncate the full article.
      {% endcomment %}
      <div class="rte">
        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
        {% endif %}
      </div>

      {% comment %}
        Show off meta information like number of comments and tags.
      {% endcomment %}
      <ul>
        {% if blog.comments_enabled? %}
        <li>
          <a href="{{ article.url }}#comments">
            {{ article.comments_count }}
            {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
          </a>
        </li>
        {% endif %}
      </ul>

      <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>

    </div>

  {% endfor %}
</div>

{% endcomment %}