<!-- /templates/product.liquid -->
<div class="inner-container">
  <div class="content">
   
    <div class="breadcrumb_section">
            <div class="inner-container">          
                {% include 'breadcrumb' %}
            </div>
    </div>

    <div class="product_detail_section grid">
            
            <div class="grid__item five-twelfths small--one-whole medium--one-whole medium-large--one-whole">
            
                <div class="product_slider">
                
                    <div class="product_carousel">
                        <img src="{{ product.featured_image | img_url: 'large' }}" />
                    </div>
                    
                    <div id="product-pager">
                    {% for image in product.images %}
                      <a data-slide-index="{{forloop.index}}" href=""><img src="{{ image.src | product_img_url: 'medium' }}" /></a>
                    {% endfor %}
                    </div>
                
                </div>
                
                <!--<div class="related_single_item medium-down--hide">
                    <img src="assets/related_item.jpg" />
                </div>-->
            
            </div>
            
            <div class="grid__item one-twelfth"></div>
            
            <div class="relrated_product_section">
                
                <div class="grid__item six-twelfths medium-down--one-whole">
                    
                    <div class="product_desc">
                
                    <h1>{{ product.title }}</h1>
                    
                    <div class="desc">{{ product.description | truncatewords: 22 }}</div>


                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                      <select name="id" id="productSelect" class="product-single__variants">
                        {% for variant in product.variants %}
                          {% if variant.available %}

                            {% comment %}
                              Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                            {% endcomment %}
                            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                          {% else %}
                            <option disabled="disabled">
                              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                            </option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      <input type="hidden" value="1" readonly="readonly" name="quantity" class="quantity-selector product-quantity" id="quantity">
                      <button type="submit" name="add" id="AddToCart" class="btn">
                        <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                      </button>
                    </form>
                    
                   
                
                </div>
                
                    <div class="accordion_desc">
                        
                        <div id="accordion_content">
                          <h3>DETAILS</h3>
                            <div>{{ product.description }}</div>
                          <h3>SIZE GUIDE</h3>
                            <div><div class="rte">{{ pages.size-guide.content }}</div></div>

                          <h3>SHIPPING</h3>
                            <div><div class="rte">{{ pages.delivery.content }}</div></div>

                            
                        </div>
                        
                    </div>
                    

                    
                    <div class="product_share">
                        <p>share on:</p>
                        <ul>
                            {% if settings.social_instagram_link != blank %}<li><a href="{{ settings.social_instagram_link }}" class="product-share1"></a></li>{% endif %}
                            {% if settings.social_facebook_link != blank %}<li><a href="{{settings.social_facebook_link}}" class="product-share2"></a></li>{% endif %}
                            {% if settings.social_pinterest_link != blank %}<li><a href="{{settings.social_pinterest_link}}" class="product-share3"></a></li>{% endif %}
                        </ul>
                    </div>
                    
                    <div class="related_single_item hide medium-down--show">
                        <img src="assets/related_item.jpg" />
                    </div>
                    
                    <div class="related_item_listing">
                        <h6>You may also like:</h6>
                        
                        <ul>
                          {% assign prodctHandle = product.handle %}                
                          {% assign count=0 %}

                           {% for c in product.collections limit:1 %}
                            {% if c.handle != 'frontpage' and c.handle != 'featured-products' and c.all_products_count > 1 %}
                              
                              {% for product in c.products limit:4  %}
                                {% if product.handle != prodctHandle  %}
                                    <li><a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: "medium" }}" /></a></li>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endfor %}
                            
                        </ul>
                        
                    </div>
                
                </div>
        
          </div>
        
        </div>
  
  </div>
</div>


{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>

