/* Scss Document */



/* Scss Document */

// ================ akzidenz-grotesk_bq_light ====================

@font-face {
    font-family: 'akzidenz-grotesk_bqlight';
    src: url('akzidenz-grotesk_bq_light.eot');
    src: url('akzidenz-grotesk_bq_light.eot?#iefix') format('embedded-opentype'),
         url('akzidenz-grotesk_bq_light.woff2') format('woff2'),
         url('akzidenz-grotesk_bq_light.woff') format('woff'),
         url('akzidenz-grotesk_bq_light.ttf') format('truetype'),
         url('akzidenz-grotesk_bq_light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$akzidenz-grotesk_bqlight : 'akzidenz-grotesk_bqlight';


// ================ akzidenz-grotesk_bq_medium ====================

@font-face {
    font-family: 'akzidenz-grotesk_bq_medium';
    src: url('akzidenz-grotesk_bq_medium.eot');
    src: url('akzidenz-grotesk_bq_medium.eot?#iefix') format('embedded-opentype'),
         url('akzidenz-grotesk_bq_medium.woff2') format('woff2'),
         url('akzidenz-grotesk_bq_medium.woff') format('woff'),
         url('akzidenz-grotesk_bq_medium.ttf') format('truetype'),
         url('akzidenz-grotesk_bq_medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$akzidenz-grotesk_bq_medium : 'akzidenz-grotesk_bq_medium';


// ================ akzidenzgroteskbe-light ====================

@font-face {
    font-family: 'akzidenzgroteskbe-light';
    src: url('akzidenzgroteskbe-light.eot');
    src: url('akzidenzgroteskbe-light.eot?#iefix') format('embedded-opentype'),
         url('akzidenzgroteskbe-light.woff2') format('woff2'),
         url('akzidenzgroteskbe-light.woff') format('woff'),
         url('akzidenzgroteskbe-light.ttf') format('truetype'),
         url('akzidenzgroteskbe-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$akzidenzgroteskbe-light : 'akzidenzgroteskbe-light';


// ================ akzidenzgrotesk-italic ====================

@font-face {
    font-family: 'akzidenzgrotesk-italic';
    src: url('akzidenzgrotesk-italic.eot');
    src: url('akzidenzgrotesk-italic.eot?#iefix') format('embedded-opentype'),
         url('akzidenzgrotesk-italic.woff2') format('woff2'),
         url('akzidenzgrotesk-italic.woff') format('woff'),
         url('akzidenzgrotesk-italic.ttf') format('truetype'),
         url('akzidenzgrotesk-italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$akzidenzgrotesk-italic : 'akzidenzgrotesk-italic';


// ================ grotesqueno9t ====================

@font-face {
    font-family: 'grotesqueno9t';
    src: url('grotesqueno9t.eot');
    src: url('grotesqueno9t.eot?#iefix') format('embedded-opentype'),
         url('grotesqueno9t.woff2') format('woff2'),
         url('grotesqueno9t.woff') format('woff'),
         url('grotesqueno9t.ttf') format('truetype'),
         url('grotesqueno9t.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$grotesqueno9t : 'grotesqueno9t';
