#main-nav {
	ul {	
		height: 40px;
	
		li {
			position: relative;
			list-style: none;
			float: left;
			display: block;
			height: 48px;
			margin: 0 45px;
			
			@include at-query ($postLarge, $maxlarge){
				margin: 0 32px;
			}
			
			&:first-child{
				margin-left:0;
			}
			
			&:last-child{
				margin-right:0;
			}
			
			 a {
				display: block;
				// padding: 0 14px;
				margin: 6px 0;
				letter-spacing: 2px;
				line-height: 18px;
				text-decoration: none;
				font-family: $akzidenz-grotesk_bq_medium;
				font-size: 11px;
				color: $colorPrimary;
				@include transition(color .2s ease-in-out);
			}
			&:first-child {
			  > a { border-left: none; }
			}
			&:last-child {
				> a{ border-right: none; }
			}
			&:hover {
				> a { color: $colorSecondary; }
				> ul {
				     opacity: 1; 
					 li {
						height: auto;
						overflow: visible;
						padding: 0;
					 }
				}
			}			
			/* Sub menu01 */
			ul {
				position: absolute;
				top: 48px;
				left: 0;
				z-index:99;
				height:auto;
				margin:0;
				opacity: 0;
				
				background: $colorPrimary;
				@include transition(opacity .25s ease .1s);
				
				li {
					height: 0;
					overflow: hidden;
					padding: 0;
					margin:0;
					@include transition(all .25s ease .1s);
					
					&:hover {
						background:$colorSecondary;
						
						a{
							color: $colorWhite;
						}
						
						> ul{
							z-index:999;
							> ul{ opacity: 1; 
								> li {
									height: auto;
									overflow: visible;
									padding: 0;
								}
							}
						}
					}
					a {
						width: 132px;
						padding: 4px;
						margin: 0;
						color: $colorWhite;
						border: none;
						border-bottom: 1px solid #353539;
					}
					&:last-child {
						> a { border: none; }
					}
					
					/* Sub menu Level 3 */
	
					ul{
						position: absolute;
						top: 0px;
						left: 132px;
					
						opacity: 0;
						
						background: #1f2024;
						@include transition(opacity .25s ease .1s);
					
						li {
							height: 0;
							overflow: hidden;
							padding: 0;
							@include transition(height .25s ease .1s);
											
							a {
								width: 150px;
								padding: 4px;
								margin: 0;
								color: $colorWhite;
								border: none;
								border-bottom: 1px solid #353539;
							}
							&:last-child { 
							   > a { border: none; }
							}
						}
					}
				}			
			}
		}
		
		.side_menu{
			float: right;
			
			li{
				margin: 0 8px;
				position: relative;
				
				&:first-child{
					&:after{
						content:'';
						display: block;
						position: absolute;
						top: 10px;
						right: -8px;
						width: 1px;
						height: 12px;
						background: $colorPrimary;
						@include transform(rotate(14deg));
					}
				}
			}
		}
	}
}





/*======================================================================
	#mean-menu
=======================================================================*/


/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}
/* when under viewport size, .mean-container is added to body */
.mean-container {
	.mean-bar {
		float: left;
		width: 100%;
		position: relative;
		background: $colorWhite;
		padding: 4px 0;
		min-height: 50px;
		z-index: 999999;
		border-bottom: 1px solid $colorPrimary;
		
		@include at-query ($medium, $large){
			padding: 12px 0;
		}
		
		.mob_logo{
			width: 160px;
			margin-top: 5px;
    		margin-left: 8px;
			float: left;
			
			@include at-query ($medium, $large){
				margin-top: 0;
			}
		}
		
		.mob_icons{
			.top_right_header{
				@include at-query ($medium, $large){
					float: right;
					margin-right: 55px;
					margin-top: 4px;
				}
				
				ul{
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					
					li{
						@include at-query ($medium, $large){
							display: inline-block;
							margin: 0 10px;
							margin-top: 3px;
						}
						
						a{
							display: block;
							width: 20px;
							height: 20px;
						}
					}
				}
			}
			
			@include at-query ($max, $medium){
				display: none;
			}
		}
		
		.mob_search{
			@include at-query ($medium, $large){
				position: absolute;
				width: 40%;
				right: 0;
				display: none;
				padding: 4px;
				background: rgba(0,0,0,0.8);
				margin-top: 16px;
			}
		}
	}
	a {
		&.meanmenu-reveal {
			width: 26px;
			height: 30px;
			position: absolute;
			top: 8px;
			line-height: 30px;
			margin-right: 8px;
			right: 0;
			cursor: pointer;
			text-decoration: none;
			display: block;
			
			@include at-query ($medium, $large){
				top: 11px;
			}
			
			span {
				display: block;
				background: $colorPrimary;
				height: 2px;
				margin-top: 7px;
				border-radius: 4px;
			}
			
			&.meanclose {
				span {
					&:first-child {
						@include transform(rotate(45deg));
						position: relative;
						top: 10px;
					}
					&:nth-child(2) {
						@include transform(rotate(-45deg));
						position: relative;
						top: 1px;
					}
				}
			}
		}
	}
	.mean-nav {
		float: left;
		width: 100%;
		background: $colorWhite;
		margin-top: 46px;
		position: absolute;
		box-shadow: -1px 4px 10px darken($colorWhite, 10);
		
		@include at-query ($medium, $large){
			width: 40%;
			float: right;
			margin-top: 44px;
			right: 0;
		}
		
		ul {
			padding: 0;
			margin: 0;
			width: 100%;
			list-style-type: none;
			li {
				position: relative;
				float: left;
				width: 100%;
				a {
					display: block;
					float: left;
					width: 100%;
					line-height: 1;
					padding: 10px 5%;
					margin: 0;
					text-align: left;
					font-size: 12px;
					color: $colorPrimary;
					// border-bottom: 1px solid #383838;
					// border-bottom: 1px solid rgba(255,255,255,0.5);
					text-decoration: none;
					text-transform: uppercase;
					
					@include at-query ($medium, $large){
						padding: 12px 5%;
					}
					
					&:hover {
						background: #252525;
						background: rgba(255,255,255,0.1);
					}
					&.mean-expand {
						width: 26px;
						height: 26px;
						border: none !important;
						padding: 0 !important;
						text-align: center;
						position: absolute;
						right: 0;
						top: 8px;
						z-index: 2;
						font-weight: 700;
						&:hover {
							background: none;
						}
					}
					
				}
				&.mean-last {
					a {
						border-bottom: none;
						margin-bottom: 0;
					}
				}
				li{
					a{
						width: 100%;
						padding: 1em 10%;
						border-bottom: 1px solid #f1f1f1;
						border-bottom: 1px solid rgba(255,255,255,0.25);
						opacity: 0.75;
						font-size: 10px;
						filter: alpha(opacity=75);
						text-shadow: none !important;
						visibility: visible;
					}
					li{
						a{
							width: 100%;
							padding: 1em 15%;
						}
						li{
							a{
								width: 100%;
								padding: 1em 20%;
							}
							li{
								a{
									width: 100%;
									padding: 1em 25%;
								}
							}
						}
					}
				}				
			}		
	    }
    }
	.mean-push {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
		clear: both;
	}
}
.wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}
	